body {
  background-color: rgb(234, 240, 243);
  font:100%/1.5 georgia, helvetica,arial,sans-serif;
}

a{
  color:rgb(116, 172, 255);
}

a:hover{
  background-color: blue;
}

a:visited:hover{
  background-color: black;
}

table.main{
  margin-left: 20%;
  margin-right: 20%;
}

div{
  margin-top:3em;
  margin-bottom:3em;
}

h1{
  color:rgb(255, 61, 61);
  text-align: center;
  font-size: 3em;
}

h2{
  color:rgb(0, 102, 255);
  text-align: left;
}

p{
  text-align: left;
}

.quote{
  font-family: Georgia;
  font-style: italic;
  font-variant-caps: small-caps;
  text-align: left;
}

@media screen and (max-width: 992px) {
  table.main {
    margin-left: 0px;
    margin-right: 0px;
  }
  .hobo{
    display: block;
  }
}

@media screen and (max-width: 600px) {
  table.main {
    margin-left: 0px;
    margin-right: 0px;
  }
  .hobo{
    display: none;
  }
}